.horse-cta-box {
  $margin-top: 8px;
  $bottom-offset: -93px;

  position: absolute;
  left: 25px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: $bottom-offset;
  background: white;
  padding: 10px;

  a {
    display: block;

    ~ a {
      margin-top: $margin-top;
    }
  }
  
  &__button {
    width: 100%;
  }

  &__share-text {
    margin-top: $margin-top;
  }

  &__social-links {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: $margin-top;
  }

  &__social-link {
    position: relative;
    display: inline-block;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__social-icon {
    &:before {
      font-size: $tiny-title;
      color: $cta-link-color;
    }
  } 
}