.horse-hero {
  $h: 500px;
  overflow: hidden;
  position: relative;
  background: white;

  &__overlay {
    position: relative;
    height: $h;
    text-align: center;
  }

  &__title {
    color: #00273A;
  }

  &__parallax-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__image {
    height: $h;
    background-size: cover;
    background-position: center top;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-parallax-image;
    }
  }
}
