.horse-hero {
  $h: 500px;

  &__overlay {
    position: relative;
    height: $h;
    background: white;
    text-align: center;
  }

  &__title {
    color: #00273A;
  }

  &__image {
    height: $h;
    background-size: 100%;
    background-position: center top;
  }
}
