.horse-hero {
  position: relative;
  width: 100%;
  min-height: 200px;
  overflow: hidden;

  @media (min-width: $screen-sm) {
    height: 350px;
  }

  @media (min-width: $screen-md) {
    height: 550px;
  }

  &__parallax-image {
    height: 200px;
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-width: $screen-sm) {
      height: 350px;
    }

    @media (min-width: $screen-md) {
      height: 550px;
    }
  }

  &__card {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translateY(-50%);
  }
}