.feed-popup {
  &__tile {
    padding: 0 !important;
    z-index: 2;
  }

  &__bottom {
    position: relative;
    @include clearfix();
    background-color: $white;
    padding-bottom: 40px;
  }

  &__bottomcontent {
    position: relative;
    margin-top: 40px;
  }
}