.search-input {
  position: relative;
  width: 100%;
  // max-width: 454px;

  input::placeholder {
    text-transform: uppercase;
    font-size: $micro-title;
  }

  input {
    padding-right: 20px;
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0;
  }
}