.carousel-pagination {
  position: relative;
  width: 100%;
  text-align: center;

  &__btn {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 20px;
    opacity: 0.75;
    border: 1px solid $white;
    background: transparent;
    transform: rotate(45deg);
    transition: transform .2s ease-out, opacity .2s ease-out, background-color .2s ease-out;

    &--active {
      opacity: 1;
      transform: rotate(45deg);
      border-color: transparent;
      background: $white;
    }
  }
}