.carousel-pagination {
  position: relative;
  width: 100%;
  text-align: center;

  &__btn {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 20px;
    opacity: 0.75;
    border: 1px solid $white;
    background-color: transparent;
    transform: scale3d(0.8, 0.8, 0.8) rotate(45deg);
    transition: transform .2s ease-out, opacity .2s ease-out, background-color .2s ease-out;

    &--active {
      opacity: 1;
      transform: scale3d(1, 1, 1) rotate(45deg);
      background-color: $white;
    }
  }
}