$cta-button-bg: $vanilla-ice;
$cta-button-height-sm: 25px;
$cta-button-height: 35px;

.primary-button {
  min-width: 190px;
  height: $cta-button-height;
  background: $cta-button-bg;
  text-transform: uppercase;
  transition: background .25s;
  padding: 0 25px;
  &--sm {
    min-width: 120px;
    height: $cta-button-height-sm;
    padding: 0 15px;
  }
  &:hover {
    background: darken($cta-button-bg, 10)
  }
  &:active {
    background: darken($cta-button-bg, 20)
  }
  &__text {
    color: white;
  }
}
