.tile-header {
  position: relative;
  width: 100%;
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: row;
  @include clearfix();

  p {
    color: $color-text-bold;
  }

  &__section {
    position: relative;

    &--middle {
      flex: 3;
    }

    &--avatar {
      width: 12px;
      height: 12px;
    }

    &--hidden {
      display: none;
    }
  }
}