.horse-big-section {
  color: white;
  background: #00273A;
  padding: 35px 0 25px;
  position: relative;

  @media (min-width: $screen-md) {
    min-height: 100%;
    padding: 55px 30px 45px;
    flex: 1;
  }
}
