.account-layout {
  position: relative;
  width: 100%;
  height: 100%;

  &__container,
  &__flex-item {
    display: flex;
    flex-wrap: wrap;
  }

  &__content {
    position: relative;
    width: 100%;
    padding: 20px 10px;

    @media all and (min-width: $screen-sm-min) {
      padding: 20px 0 20 60px;
    }

    @media all and (min-width: $screen-md-min) {
      padding: 45px 0 45px 60px;
    }
  }
}