.tile-header-provider {
  position: relative;
  padding: 0 10px 0 10px;
  @include clearfix();

  p {
    color: $ash-grey;
  }

  &__image {
    float: left;
    width: 70px;
    height: 15px;
  }

  &__date {
    position: relative;
    float: right;
    padding-left: 5px;
  }
}