.button-section {

  &__button {
    width: 100%;
    min-width: initial;
    display: block;

    ~ .button-section__button {
      margin-top: 8px;
    }
  }

  &__link {
    display: block;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
  }
}
