.carousel-arrow {
  position: absolute;
  width: 20px;
  height: 83px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba($white, 0.65);
  color: $raisin-black;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }

  &--bottom {
    top: initial;
    bottom: 0;
    transform: translateY(0)
  }

  &--top {
    top: 0;
    transform: translateY(0);
    bottom: initial;
  }

  &--nobg {
    background-color: transparent;
  }

  .icon--leftarrow, .icon--rightarrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--white {
    .icon--leftarrow, .icon--rightarrow {
      color: $white;
    }
  }
}
    