.title-hero {
  position: relative;
  width: 100%;

  &__bg .image {
    position: relative;
    width: 100%;
    height: 160px;
    background-size: cover;

    @media all and (min-width: $screen-xs-min) {
      height: 250px;
    }
  }

  &__title {
    position: relative;
    width: 100%;
    padding: 20px 0;
    background: $yankees-blue;

    @media all and (min-width: $screen-xs-min) {
      padding: 40px 0;
    }

    h1 {
      color: $white;
    }
  }
}