.select {
  $input-height: 25px;

  position: relative;
  width: 100%;

  &__select-input {
    position: relative;
    width: 100%;
    line-height: $input-height;
    font-size: $micro-title;
    font-family: $font-family-secondary;
    text-transform: uppercase;
    border-bottom: 1px solid $form-input-color;

    &::placeholder {
      color: $placeholder-color;
      font-weight: 300;
      font-family: $font-family-secondary;
      font-size: $text;
    }
  }
}