.create-new-syndicate__section {
  width: 90%;

  .sole-owner {
    background-image: url('/assets/images/wave.svg');
    background-size: 130px;
    margin-top: 70px;
  }

  .joint-ownership {
    background-image: url('/assets/images/wave.svg');
    background-size: 130px;
    margin-top: 70px;
  }

  .racing-partnership {
    background-image: url('/assets/images/wave.svg');
    background-size: 130px;
    margin-top: 70px;
    margin-bottom: 70px;
  }
}