$snow: #f9f9f9; //rgb(249, 249, 249);
$isabelline: #eaeaea; //rgb(234, 234, 234);
$gainsboro: #dedede; //rgb(222, 222, 222);
$x11-gray: #bebebe; //rgb(190, 190, 190);
$taupe-gray: #8a8a8a; //rgb(138, 138, 138);
$old-silver: #828282; //rgb(130, 130, 130);
$nickel: #6e6e6e; //rgb(110, 110, 110);
$davys-gray: #595959; //rgb(89, 89, 89);

$vanilla-ice: #f18a9b; //rgb(241, 138, 155);
$pale-violet-red: #dc778d; //rgb(220, 119, 141);
$cinnamon-satin: #c3617b; //rgb(195, 97, 123);

$raspberry-glace: #906279; //rgb(144, 98, 121);
$raspberry-glace-2: #885872; //rgb(136, 88, 114);
$twilight-lavender: #8d4772; //rgb(141, 71, 114);

$space-cadet: #233553; //rgb(35, 53, 83);
$yankees-blue: #142339; //rgb(20, 35, 57);
$eerie-black: #0d1a26; //rgb(13, 26, 38);

$black: #000;
$white: #fff;
$blue: #2D87BD;
$ash-grey: #b2b4b6;
$ruddy-pink: #F08496;
$raisin-black: #231f20;
$maastricht-blue: #00273a;
$silver-chalice: #ababab;
$outer-space: #494949;

// Inputs
$form-input-color: $nickel;
$form-input-color-active: $vanilla-ice;
$placeholder-color: $taupe-gray;

// Cta
$cta-link-color: $vanilla-ice;