$snow: #f9f9f9;
$isabelline: #eaeaea;
$gainsboro: #dedede;
$x11-gray: #bebebe;
$taupe-gray: #8a8a8a;
$old-silver: #828282;
$nickel: #6e6e6e;
$davys-gray: #58595b;

$vanilla-ice: #f18a9b;
$pale-violet-red: #dc778d;
$cinnamon-satin: #c3617b;

$raspberry-glace: #906279;
$raspberry-glace-2: #885872;
$twilight-lavender: #8d4772;

$space-cadet: #233654;
$yankees-blue: #142339;
$eerie-black: #0d1a26;

$black: #000;
$white: #fff;
$blue: #2D87BD;
$ash-grey: #b2b4b6;
$ruddy-pink: #F08496;
$raisin-black: #231f20;
$maastricht-blue: #00273a;
$silver-chalice: #ababab;
$outer-space: #494949;

$blue-yonder: #5170A7;
$sky-blue: #88d0ed;

// Bg
$color-popup-bg: $white;
$color-faded-popup-bg: rgba($white, 0.4);

// Inputs
$form-input-color: $nickel;
$form-input-color-active: $vanilla-ice;
$placeholder-color: $taupe-gray;

// Cta
$cta-link-color: $vanilla-ice;

// Social
$twitter: $sky-blue;
$facebook: $blue-yonder;

// loader
$color-loader: $vanilla-ice;
