$snow: rgb(249, 249, 249);
$isabelline: rgb(234, 234, 234);
$gainsboro: rgb(222, 222, 222);
$x11-gray: rgb(190, 190, 190);
$taupe-gray: rgb(138, 138, 138);
$old-silver: rgb(130, 130, 130);
$nickel: rgb(110, 110, 110);
$davys-gray: rgb(89, 89, 89);

$vanilla-ice: rgb(241, 138, 155);
$pale-violet-red: rgb(220, 119, 141);
$cinnamon-satin: rgb(195, 97, 123);

$raspberry-glace: rgb(144, 98, 121);
$raspberry-glace-2: rgb(136, 88, 114);
$twilight-lavender: rgb(141, 71, 114);

$space-cadet: rgb(35, 53, 83);
$yankees-blue: rgb(20, 35, 57);
$eerie-black: rgb(13, 26, 38);

// Inputs
$form-input-color: $nickel;
$form-input-color-active: $vanilla-ice;
$placeholder-color: $taupe-gray;