@import url('https://fonts.googleapis.com/css?family=Oswald:200,500');

$sans-serif-web-safe: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-web-safe: Georgia, Times, "Times New Roman", serif;

$font-family-base: Oswald, $sans-serif-web-safe;
$font-family-secondary: "Gill Sans", $sans-serif-web-safe;