[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'trmicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paperclip:before {
  content: "\e904";
  color: #a6a8ac;
}
.icon-leftarrow:before {
  content: "\e902";
}
.icon-rightarrow:before {
  content: "\e903";
}
.icon-heart:before {
  content: "\e900";
  color: #818181;
}
.icon-comment:before {
  content: "\e901";
  color: #818181;
}
