.sole-owner__section {
  background-color: $white;
  margin: 0 10px 50px 25px;
  padding: 0 30px 30px 25px;

  h2.uppercase {
    color: $yankees-blue;
  }

  .underline {
    width: 20%;
    border: 1px solid $vanilla-ice;
    margin-top: 12px;
  }

  h4.small {
    margin-top: 10px;
    color: $yankees-blue;
  }

  .small-group {
    margin-top: 15px;

    p.small {
      font-weight: 500;
      color: $yankees-blue;
    }
  }

  .sole-owner-btn {
    display: inline-block;
    margin-top: 15px;
    margin-right: 20px;
  }

  .more-info-btn {
    display: inline-block;
    margin-top: 15px;
  }
}