.horse-statistics {
  position: relative;

  &__section {
    position: relative;
    width: 100%;
    padding-top: 60px;

    &:last-child {
      margin-bottom: 60px;
    }
  }

  #horse-statistics-results-details-content {
    button.back-btn {
      display: block;
      margin: 0 auto;
      padding: 8px 59px;
      background-color: #fff;
      font-size: 13px;
      color: #df97a1;
      border: 1px solid#df97a1;
      cursor: pointer;
    }
  }
}