$partners-slider-margin: 8vw;
$partners-background: $yankees-blue;
$partners-height: 55px;
$partners-height-sm: 100px;

.partners {
  width: 100%;
  background: $partners-background;
  height: $partners-height;
  
  @media (min-width: $screen-sm) {
    height: $partners-height-sm;
  }
  
  &__carousel {
  }
  
  &__carousel-wrapper {
    height: 100%;
    margin: 0 $partners-slider-margin;
    width: 100vw - $partners-slider-margin * 2;
    position: relative;
  }
  
  &__carousel-desktop {
    display: flex;
    justify-content: space-between;
  }
  
  &__partner {
    display: inline-block;
    height: $partners-height;
    @media (min-width: $screen-sm) {
      height: $partners-height-sm;
    }
  }
  
  &__partner-image {
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 60px;
    @media (min-width: $screen-sm) {
      height: 50px;
      width: 100px;
    }
  }
  
  &__arrow-image {
    @include absolute-center;
    width: 10px;
    height: 10px;
    @media (min-width: $screen-sm) {
      width: 20px;
      height: 20px;
    }
  }
  
  &__arrow {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: $partners-background;
    height: 100%;
    width: $partners-slider-margin;
    cursor: pointer;

    .icon-leftarrow {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
    }
  }
  
  &__arrow-prev {
    left: -$partners-slider-margin;
  }
  
  &__arrow-next {
    right: -$partners-slider-margin;
    transform: rotate(180deg);
  }
}