.dashboard-header {
  position: relative;
  width: 100%;
  background-color: $yankees-blue;
  padding: 50px 10px; 

  &__heading {
    position: relative;
    margin-bottom: 40px;
    @include clearfix();

    h1 {
      color: $white;
    }
  }

  &__header-button {
    float: right;
  }

  &__items-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &__items-list {
    position: relative;
    width: 100%;
    padding-top: 30px;
    overflow: hidden;
  }

  &__section {
    padding-left: 0 10px;

    @media all and (min-width: $screen-sm-min) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media all and (min-width: $screen-md-min) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__slide {
    width: 100%;

    @media all and (min-width: $screen-sm-min) {
      width: 50%;
    }

    @media all and (min-width: $screen-md-min) {
      width: 266px;
    }
  }

  &__slide-item {
    display: inline-block;
  }

  &__arrow {
    width: 10px;
    opacity: 0.5;

    @media all and (min-width: $screen-sm-min) {
      width: 20px;
    }

    @media all and (min-width: $screen-md-min) {
      width: 40px;
    }
  }

  .swiper-slide {
    h2 {
      font-weight: 100;
      color: $white;
      opacity: 0.5;
      transition: opacity .2s ease-out;
    }
    &-active {
      h2 {
        font-weight: 400;
        opacity: 1;
      }
    }
  }
}