/**
 *  KEYFRAMES
 */
@keyframes small-shift-up {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale3d(0.0, 0.0, 0.0);
  } 50% { 
    transform: scale3d(1.0, 1.0, 1.0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 0)
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

/**
 *  REACT CSS TRANSITION GROUP ANIMATIONS
 */
.fade-in-enter, .fade-in-appear {
  opacity: 0;
}

.fade-in-enter.fade-in-enter-active, .fade-in-appear.fade-in-appear-active {
  opacity: 1;
  transition: opacity .4s ease-out;
}

.fade-in-leave {
  opacity: 1;
}

.fade-in-leave.fade-in-leave-active {
  opacity: 0;
  transition: opacity .4s ease-out;
}