.register {
  &__form-container {
    background-color: $color-bg-secondary;
    padding-bottom: 65px;

    @media (min-width: $screen-sm) {
      padding: 0px 20px 40px;
    }

    &--heading {
      padding-top: 40px;
    }
  }
  &__content {
    background: $color-bg;
  }

  &__form-opening-text {
    color: $color-text-strong;
  }

  &__quick-register-container {
    position: relative;
  }
}