.register {
  &__title-container {
    background: $yankees-blue;
  }
  &__title {
    padding-left: 25px;
    color: white;
    line-height: 96px;
  }
  &__form-container {
    padding: 40px 20px 75px 40px !important;
    background-color: white;
  }
  &__content {
    background: $snow;
  }
}