.feed-comment {
  $mBottom: 15px;

  position: relative;
  width: 100%;

  &__header {
    position: relative;
    width: 100%;
    margin-bottom: $mBottom;
  }

  &__body {
    position: relative;
    width: 100%;
    margin-bottom: $mBottom;
    padding-right: 40px;
    padding-left: 10px;
  }

  &__text {
    position: relative;
  }

  &__footer {
    position: relative;
    width: 100%;
    padding-left: 10px;
  }
}