.manager-dashboard {

  .manager-dashboard__section {
    width: 90%;

    .forms-top {
      .fee-structure {
        width: 60%;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
        height: 561px;
        padding-left: 35px;
        display: inline-block;
      }
      .bank-details {
        background-color: $color-bg-bank-detail;
        width: 40%;
        padding-right: 35px;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
        height: 561px;
        display: inline-block;
      }
    }

    .forms-bottom {
      .invoice-archive {
        width: 100%;
        background-color: $color-bg-invoice-archive;
        padding: 0 35px;
        box-shadow: inset 0px 10px 20px 0px $x11-gray
      }
    }
  }
}