.header {
  height: $header-height;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  box-shadow: 0 0 40px rgba(black, 0.1);
  z-index: $zindex-header;
  &__logo-image {
    background-image: url($logo);
    height: $header-height;
    width: 100px;
    display: inline-block;
    float: left;
    margin-left: -40px;
    @media (min-width: $screen-sm) {
      margin-left: 0;
    }
  }
  &__logo-text {
    padding-left: 5px;
    font-size: 13px;
    font-family: $font-family-base;
    display: inline-block;
    float: left;
    line-height: $header-height;
    margin: 0;
    text-transform: uppercase;
    @media (min-width: $screen-sm) {
      padding-left: 10px;
    }
  }
  &__content {
    display: inline-block;
    float: right;
    height: $header-height;
    padding: ($header-height - 25px)/2 0;
    margin-right: 30px;
  }
  &__register-button {
  }
}
