$input-height: 32px;

.input {
  width: 100%;
  margin-top: 20px;
  position: relative;
  
  &__input-element {
    width: 100%;
    border-bottom: 1px solid $form-input-color;
    line-height: $input-height;
    font-size: $text;
    font-family: $font-family-secondary;
    box-sizing: border-box;
    
    &::placeholder {
      color: $placeholder-color;
      font-weight: 300;
      font-family: $font-family-secondary;
      font-size: $text;
    }
  }
}