$bottom-cta-padding: 80px;

.bottom-cta {
  padding: $bottom-cta-padding 0;
  position: relative;
  &__wave-line {
    height: 300px;
    width: 100%;
    position: absolute;
    left: 0;
    top: $bottom-cta-padding + 50px;
  }
  &__quote-author {
    margin-top: 8px;
    color: $old-silver;
  }
  &__video-container {
    @media (min-width: $screen-md) {
      position: absolute !important;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}