.filter-panel {
  position: relative;
  width: 100%;
  padding: 20px 0;

  @media all and (min-width: $screen-md) {
    padding: 40px 0;
  }

  &__title {
    margin-bottom: 15px;
    color: $outer-space;
  }

  &__column {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }

    // To clear variable heights in the columns on tablet
    // Could use flex but thats unnesscary IMHO
    @media only screen and (min-width: $screen-sm) {
      &:nth-child(3) {
        clear: left;
      }
    }

    @media all and (min-width: $screen-md) {
      &:nth-child(3) {
        clear: none;
      }
    }
  }

  &__slider-container {
    position: relative;
    width: 100%;
    margin-top: 25px; 
  }

  &__range-slider {
    margin-top: 40px;
    padding: 0 20px;

    @media all and (min-width: $screen-sm) {
      padding: 0;
    }
  }
}