$footer-padding-top: 170px;

.footer {
  height: $footer-height;
  background-color: $eerie-black;
  padding-top: $footer-padding-top;

  &__left {

  }

  &__right {

  }

  &__logo {
    position: relative;
    width: 209px;
    height: 75px;
  }
}
