.horse-header {

  &__details-container {
    width: auto;

    @media (min-width: $screen-lg) {
      position: absolute;
      width: 1170px;
      height: 100%;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 0;
    }
  }

  &__details-tile {
    min-width: 400px;
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 2;
    transform: translateY(-50%);

    .horse-header__details {
      padding: 20px 75px 30px;
    }
  }

// ----

  &__paragraph {
    color: white;

    ~ .horse-header__paragraph {
      margin-top: 10px;
    }
  }

  &__small-title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__medium-title {
    color: white;
    font-size: 30px;
  }

// ----

  &__image {
    position: relative;
    background: #eee;

    .parallax-hero__image {
      height: 200px;
      background-repeat: no-repeat;
      background-position: top center;

      @media (min-width: $screen-sm) {
        height: 350px;
      }

      @media (min-width: $screen-md) {
        height: 550px;
      }
    }
  }

// ----

  &__btn-details {
    margin-bottom: 15px;
  }

// ----

  &__details {
    color: #6D6E71;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 25px;
    background: #fff;

    @media (min-width: $screen-md) {
      box-shadow: none;
    }
  }

  &__details-prices {
    margin-top: 20px;
  }

// ----

  &__content {
    display: flex;
    //margin-bottom: 230px; add this later
  }

  &__comment-title {
    margin: 20px 0 10px;
  }

// -----

  &__description-title {
    @media (min-width: $screen-md) {
      color: white;
      font-size: 30px
    }
  }

  &__read-more {
    color: white;
    display: block;
    margin-top: 20px;
  }

  &__team {
    width: 100%;
    position: absolute;
    bottom: -230px;
    left: 0;
    z-index: 2;
  }
}
