.horse-header {

  &__details-container {
    width: auto;

    @media (min-width: $screen-lg) {
      position: absolute;
      width: 1170px;
      height: 100%;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 0;
    }
  }

  &__details-tile {
    min-width: 400px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 2;

    .horse-header__details {
      padding: 20px 75px 30px;
    }
  }

// ----

  &__paragraph {
    color: white;
  }

  &__small-title {
    font-size: 14px;
    text-transform: uppercase;
  }

  &__medium-title {
    color: white;
    font-size: 30px;
  }

// ----

  &__image {
    position: relative;

    .parallax-hero__image {
      height: 130px;
      background-position: top center;

      @media (min-width: $screen-sm) {
        height: 320px;
      }

      @media (min-width: $screen-md) {
        height: 500px;
      }
    }
  }

// ----

  &__brief-info {
    padding: 20px 0 25px;
  }

  &__horse-gender {
    text-transform: capitalize;
  }

  &__big-title {
    font-size: 45px;
    text-transform: uppercase;
  }

  &__horse-brief {
    margin-top: 15px;
  }

  &__btn-details {
    margin-top: 15px;
  }

// ----

  &__details {
    color: #6D6E71;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 25px;
    background: #fff;
    box-shadow: inset 0 20px 37px -37px rgba(0, 0, 0, .75);

    @media (min-width: $screen-md) {
      box-shadow: none;
    }
  }

  &__full-details {
    margin-top: 20px;
  }

  &__details-prices {
    margin-top: 20px;
  }

// ----

  &__about-section {
    color: white;
    background: #00273A;
    padding: 35px 0 25px;

    @media (min-width: $screen-md) {
      min-height: 100%;
      padding: 55px 30px 45px;
      flex: 1;
    }
  }

  &__content {
    display: flex;
  }

  &__comment-title {
    margin: 30px 0 10px;
  }

  &__syndicate-button {
    width: 205px;
    display: block;
    border: 1px solid white;
    background: transparent;
    margin: 25px auto 0;

    @media (min-width: $screen-md) {
      margin-left: 0;
    }
  }

// -----

  &__involvement {
    color: white;
    padding: 35px 0 25px;
    background: darken(#00273A, 2%);

    @media (min-width: $screen-md) {
      height: 100%;
      padding: 55px 30px 45px;
    }
  }

  &__description-title {
    @media (min-width: $screen-md) {
      color: white;
      font-size: 30px
    }
  }

  &__read-more {
    color: white;
    display: block;
    margin-top: 20px;
  }

  &__slide {
    text-align: left;
  }

  &__pagination {
    .carousel-pagination {
      &__btn {
        background: transparent;
        border: 2px solid white;
        opacity: 1;
        transform: scale3d(1, 1, 1) rotate(45deg);

        &--active {
          background: white;
          border-color: transparent;
        }
      }
    }
  }
}
