.base-popup-tile {
  position: relative;
  width: 100%;
  background-color: $white;
  @include clearfix();

  &__content {
    position: relative;
    width: 100%;
    // padding-bottom: 10px;
    @include clearfix();
  }
}