.base-popup-tile {
  position: relative;
  box-shadow: $tile-box-shadow-bottom;
  width: 100%;
  padding-bottom: 20px;
  background-color: $white;
  @include clearfix();

  &__content {
    position: relative;
    width: 100%;
  }
}