$home-hero-padding-xs: $container-margin-xs;
$home-hero-padding-md: $container-margin-md;

.home {
  &__hero-text {
    color: white;
    text-transform: uppercase;
  }
  &__hero-content {
    width: 100%;
    text-align: center;
    padding: 0 $home-hero-padding-xs;
    @media (min-width: $screen-md) {
      padding: 0 $home-hero-padding-md;
    }
  }
  &__hero-tip {
    position: absolute;
    bottom: $home-hero-padding-xs;
    @media (min-width: $screen-md) {
      bottom: $home-hero-padding-md;
    }
    left: 50%;
    background: white;
    transform: translateX(-50%);
    padding: 14px;
    text-transform: uppercase;
    min-width: 320px - $home-hero-padding-xs * 2;
  }
}