.public-horse {


// Table
  &__table {

  }

// Hero
  &__hero {
    background: #eee;
    height: 500px;
  }

// Paragraph section
  &__paragraph-section {
    padding: 35px 0 45px 0;
  }

// Footer
  &__footer {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: white;
      box-shadow: rgba(0, 0, 0, 0.75) 0 20px 37px -37px inset;
      
      @media (min-width: $screen-sm) {
        width: 50%;
        height: 100%;
      }
    }
  }

  &__footer-cont {
    position: relative;
    z-index: 3;

    @media (min-width: $screen-sm) {
      display: flex;
    }
  }

  &__involvement {
    min-height: 600px;
    padding-top: 30px;
    padding-bottom: 50px;

    p, h1, ul {
      color: #00273A;
    }
  }

  &__updates-info {
    font-weight: 600;
    margin-top: 15px;
  }

  &__availability-section {
    margin-top: 25px;
  }

  &__join-button {
    min-width: 265px;
    margin-top: 30px;
  }

  &__horse-section {
    min-height: 600px;
    position: relative;

    @media (min-width: $screen-sm) {
      flex: 1;
    }
  }

  &__horse-card {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}