* {
  box-sizing: border-box;
}

html {

}

body {
  margin: 0;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

label {
  cursor: pointer;
}

.main-container {

}

hr {
  border: none;
}

img {
  max-width: 100%;
}

ul.disc-list {
  list-style-type: disc;
  -webkit-padding-start: 0;
  padding-left: 15px;
}

sup {
  &.small {
    top: -1em;
    font-size: 50%;
  }
}

.capitalize {
  text-transform: capitalize;
}