.manager-registration {
  &__section-label {
    font-family: $font-family-secondary;
    text-transform: none;
    margin-top: 45px;
  }
  &__submit {
    margin-top: 75px;
  }
  &__checkboxes {
    margin-top: 55px;
  }
}