$copy-section-card-height: 350px;

.copy-section {
  padding-top: 35px;
  padding-bottom: 65px;
  overflow: hidden;
  position: relative;
  @media (min-width: $screen-md) {
    padding-top: 125px;
    padding-bottom: 225px;
  }
  &__copy-card-container {
    @include container-fixed($container-margin-xs * 2);
    position: relative;

    @media (min-width: $screen-md) {
      height: $copy-section-card-height;
      margin: 0;
      width: 62%;
    }
    @media (min-width: $screen-lg) {
      width: 53%;
    }
  }
  &__copy-card-background {
    position: absolute;
    top: 75px;
    bottom: 75px;
    left: 0;
    right: 0;
    @media (min-width: $screen-md) {
      top: 44px;
      bottom: 0;
    }
  }
  &__copy-card-card {
    @media (min-width: $screen-md) {
      position: absolute;
      top: 0;
      right: 40px;
    }
  }
  &__overlapping-headline {
    color: $snow;
    display: inline-table;
    font-size: 171px / 1440px * 100vw;
    position: absolute;
    bottom: -36px / 1440px * 100vw;
    left: 44%;
    transform: translateX(-50%);
    @media (min-width: $screen-md) {
      left: 56%;
    }
    @media (min-width: $screen-lg) {
      font-size: 171px;
      bottom: -36px;
    }
  }
  &__featured-image {
    height: $copy-section-card-height;
    @media (min-width: $screen-md) {
      width: 340px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}